.main_content {
  width: 100%;
  padding: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  ion-icon {
    color: var(--ion-color-primary);
    font-size: 20px;
    padding: 10px;
  }

  .iconDiv {
    text-align: center;

    .icon {
      width: 60px;
    }
  }

  .form_div {
    padding: 25px;
    position: relative;

    .input_title {
      display: block;
      color: var(--ion-color-dark);
      font-weight: 400;
      font-size: 20px;
      margin: 10px;
    }

    ion-label {
      font-size: 12px;
      color: var(--ion-color-dark);
    }

    .forgot {
      display: block;
      text-align: right;
      font-weight: 600;
      padding-right: 15px;
      color: var(--ion-color-dark);
    }

    ion-input {
      // background: var(--ion-color-primary);
      border: 1px solid var(--ion-color-dark-tint);
      color: var(--ion-color-dark);
      border-radius: 10px;
      margin-bottom: 17px;
      --padding-start: 8px;
      --padding-end: 10px;
    }

    .mobiles {
      background: var(--ion-color-dark);
      border-radius: 20px;
      --padding-start: 8px;
      --padding-end: 10px;
      font-size: 18px;
      color: gray;
      height: max-content;
      padding: 6px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    ion-button {
      margin-top: 20px;
      --border-radius: 5px;
      --background: var(--ion-color-primary);
      --color: var(--ion-color-primary-contrast);
      span {
        font-weight: bold;
      }
    }

    .signup_label {
      margin-top: 20px;
      color: var(--ion-color-dark);
      display: block;
      text-align: center;
    }

    .signup_span {
      color: var(--ion-color-dark);
      font-weight: 600;
      font-size: 14px;
    }

    .signup_back {
      margin-top: 20px;
      font-weight: bold;
      font-size: medium;
      color: var(--ion-color-dark);
      display: block;
      text-align: center;
    }
  }
}
